.site-footer {
    background-color: $night-grey;
    color: $mid-grey;
    
    aside {
        padding: 3rem 1.5rem;
        justify-content: center;
    }

    ul {
        flex: calc(50% - 2rem);
        font-weight: 300;
    }

    li:first-of-type {
        margin-bottom: 0.5rem;
    }
}

.awards-foot,
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    width: 25rem;
    height: 8.4375rem;
}

.awards-foot {
    background-color: $night-grey;
}

.social-media {
    background-color: $teal;
}

.copyright {
    font-size: $small;
    line-height: 2rem;
    color: $lt-grey;
}