@media(min-width: 615px) {
    .page-header {
        background: url(../../img/banner.jpg) no-repeat center / cover;
    }
}

@media(min-width: 615px) {
    .page-header {
        margin-bottom: 4.5rem;
    }

    main { margin-bottom: 3rem; }

    .client-registration {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
}

@media(min-width:760px) {
    .icon-view { display: none; }
    .list-view { display: flex; }

    .services div {
        font-size: 0.9375rem;
    }
}
