@media(min-width:460px) {
    .services div {
        flex: 33%;
    }
}

@media(min-width: 615px) {
    .page-header {
        background: url(../../img/banner.jpg) no-repeat center / cover;
        margin-bottom: 4.5rem;
    }

    main { 
        margin-bottom: 3rem; 
    }

    .client-registration {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }

    [type="submit"] {
        width: 90%;
        font-size: $h4;
    }

    .policy-note {
        width: 80%;
        text-align: right;
    }
}

@media(min-width:760px) {
    .icon-view { display: none; }
    .list-view { display: flex; }

    .services div {
        font-size: 0.9375rem;
    }
}
