@import '../vars/index';

.site-nav {
    position: relative;
    padding: 0.5rem 3rem;
    color: $dark-grey;
    font-family: $title-font;
    font-size: $small;
    text-transform: uppercase;
    z-index: 100;
}

.site-nav a,
.mobile-links a {
    color: $dark-grey;
}

.site-nav a:hover,
.site-nav .active,
.mobile-links a:hover {
    color: $teal;
}

.icon-view {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: auto; 

    h1 {
        font-size: 1.125rem;
    }
}

.toggle-menu-icon {
    width: 1.5rem;
    cursor: pointer;
}

/* Mobile Menu */
.menu-panel {
    position: fixed;
    background: #fff;
    width: 30%;
    top: 0;
    right: -40%;
    padding-top: 2.5rem;
    z-index: -1;
}

.mobile-link a {
    display: block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-view {
    display: none;

    li {
        margin-left: 2rem;
        align-self: center;
    }

    li:first-of-type {
        margin-left: 0;
    }
}