@import '../vars/index';

.site-nav {
    padding: 0.5rem 3rem;
    color: $dark-grey;
    font-family: $title-font;
    font-size: $small;
    text-transform: uppercase;
}

.icon-view {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: auto; 

    h1 {
        font-size: 1.125rem;
    }
}

.toggle-menu-icon {
    width: 1.5rem;
}

/* Mobile Menu */
.menu-panel {
    position: fixed;
    width: 100%;
    top: -40rem;
    left: 0;
    padding-top: 5rem;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
  }

.list-view {
    display: none;

    li {
        margin-left: 2rem;
        align-self: center;
    }

    li:first-of-type {
        margin-left: 0;
    }
}