@import '../vars/index';

.bold { font-weight: 700; }
.teal { color: $teal; }
.block { display: block; }
.uppercase { text-transform: uppercase; }

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper {
    max-width: 52.75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}