@import '../vars/index';

.bold { font-weight: 700; }
.unbold-query { font-weight: 700; }

.teal { color: $teal; }
.block { display: block; }
.uppercase { text-transform: uppercase; }

.flex-row,
.flex-row-center {
    display: flex;
    flex-wrap: wrap;
}
.flex-row { justify-content: space-between; }
.flex-row-center { justify-content: center; }

.wrapper {
    max-width: 52.75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}


.margin-btm-lg { margin-bottom: 3rem; }

.grey-bkg {
    background-color: $off-white;
}