@import '../vars/index';

body {
    font-size: 93.75%;
    line-height: 1.6;   /* 24px baseline */
    font-family: $body-font;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}